<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Started</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script type="text/javascript" src="../scripts/script.js"></script>
</head>
<body>
    <div class="outer-block">
        <div class="signup-block">
            <img src="images/user.png" width="64px" height="64px">
            <label>
                <input type="text" placeholder="Login" id="login" class="auth-field"><br \>
            </label>

            <label>
                <input type="password" placeholder="Password" id="password" class="auth-field"><br \>
            </label>

            <label>
                <input type="password" placeholder="Repeat Password" id="re-password" class="auth-field"><br \>
            </label>

            <button class="auth-button" onclick="SignUp()">SignUp</button>
        </div>
    </div>
</body>
</html>